html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  background: #f8f8f2;
  color: #272822;
  font-size: 2rem;
}

time,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.2rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
header h2 {
  font-size: 4rem;
}

.flex {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/* .container {
    max-width: 900px;
    margin: 0 auto;
} */
section aside {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}
section aside a::before {
  content: "> ";
}
section aside a::after {
  content: " <";
}
section {
  text-align: justify;
}
footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2.6rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 4rem;
  }
}
@media (max-width: 600px) {
  footer {
    flex-direction: column-reverse;
    text-align: center;
    width: 90vw;
  }
}
footer a {
  border: 2px solid #f92672;
  padding: 1rem;
  border-radius: 0.7rem;
  margin: 1rem;
  display: block;
}
a,
span.a {
  text-decoration: none;
  color: #f92672;
  padding: 0 3px;
}
a:hover,
a:focus,
a:active {
  background: #272822;
  color: #fff;
  box-shadow: 0 0 3px 1px #272822;
}

pre {
  background: #222;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px #f92672;
}
code {
  font-family: "Input Mono", Hack, Menlo, monospace;
  color: #6e38ce;
}
pre code {
  white-space: pre-wrap;
}
blockquote {
  background: #222;
  padding: 0 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px #f92672;
  color: #f92672;
}
blockquote p {
  margin: 0px;
  padding: 5px;
}
#about,
#about > a {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f92672;
}
#about {
  display: none;
}
#about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#about-box aside {
  margin: 50px 25px;
  padding: 48px;
  max-width: 600px;
  background: #272822;
  color: #f8f8f2;
  box-shadow: 0 0 30px 1px #272822;
  border-radius: 20px;
  text-align: justify;
  z-index: 2;
  max-height: 100vh;
  overflow-y: auto;
}
#about img {
  float: left;
  background: white;
  border-radius: 8px;
  padding: 3px;
  width: 64px;
  height: 64px;
  margin: 5px 10px 5px 0;
}
#about code {
  border-radius: 3px;
  padding: 1px 2px;
}
#about:target {
  display: block;
}

.blog-img {
  display: flex;
  justify-content: center;
}
.blog-img div {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.75rem;
  background: #333;
}
.blog-img img {
  background: #f8f8f2;
  border-radius: 0.35rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  pre code {
    font-size: 20px;
  }
}
/* monokai code highlighting */
.hll {
  background-color: #49483e;
}
.c {
  color: #75715e;
}
.err {
  color: #960050;
  background-color: #1e0010;
}
.k {
  color: #66d9ef;
}
.l {
  color: #ae81ff;
}
.n {
  color: #f8f8f2;
}
.o {
  color: #f92672;
}
.p {
  color: #f8f8f2;
}
.cm {
  color: #75715e;
}
.cp {
  color: #75715e;
}
.c1 {
  color: #75715e;
}
.cs {
  color: #75715e;
}
.ge {
  font-style: italic;
}
.gs {
  font-weight: bold;
}
.kc {
  color: #66d9ef;
}
.kd {
  color: #66d9ef;
}
.kn {
  color: #f92672;
}
.kp {
  color: #66d9ef;
}
.kr {
  color: #66d9ef;
}
.kt {
  color: #66d9ef;
}
.ld {
  color: #e6db74;
}
.m {
  color: #ae81ff;
}
.s {
  color: #e6db74;
}
.na {
  color: #a6e22e;
}
.nb {
  color: #f8f8f2;
}
.nc {
  color: #a6e22e;
}
.no {
  color: #66d9ef;
}
.nd {
  color: #a6e22e;
}
.ni {
  color: #f8f8f2;
}
.ne {
  color: #a6e22e;
}
.nf {
  color: #a6e22e;
}
.nl {
  color: #f8f8f2;
}
.nn {
  color: #f8f8f2;
}
.nx {
  color: #a6e22e;
}
.py {
  color: #f8f8f2;
}
.nt {
  color: #f92672;
}
.nv {
  color: #f8f8f2;
}
.ow {
  color: #f92672;
}
.w {
  color: #f8f8f2;
}
.mf {
  color: #ae81ff;
}
.mh {
  color: #ae81ff;
}
.mi {
  color: #ae81ff;
}
.mo {
  color: #ae81ff;
}
.sb {
  color: #e6db74;
}
.sc {
  color: #e6db74;
}
.sd {
  color: #e6db74;
}
.s2 {
  color: #e6db74;
}
.se {
  color: #ae81ff;
}
.sh {
  color: #e6db74;
}
.si {
  color: #e6db74;
}
.sx {
  color: #e6db74;
}
.sr {
  color: #e6db74;
}
.s1 {
  color: #e6db74;
}
.ss {
  color: #e6db74;
}
.bp {
  color: #f8f8f2;
}
.vc {
  color: #f8f8f2;
}
.vg {
  color: #f8f8f2;
}
.vi {
  color: #f8f8f2;
}
.il {
  color: #ae81ff;
}
