{{ partial "header.html" . }}
<div class="flex">
    {{ partial "title.html" . }}
    <div class="container">
        <section>
            <h1>{{ .Title }}</h1>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
            <aside><a href="{{ .Permalink }}">permalink</a></aside>
            {{ .Content }}
        </section>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ partial "fin.html" . }}
