<div id="about">
    <a href="#"></a>
    <div id="about-box">
        <aside>
            <p><img src="https://secure.gravatar.com/avatar/a793aee00fdaccc57c9be730dde5bb85?s=64" /><code>thechriswalker</code>                lives in Exeter, UK with his wife: Rosie, son: Orson and daughter: Florence. He likes bacon, drinks too much
                coffee, doesn't like spiders and enjoys solving problems. He'll use <code>Vi</code> over <code>Emacs</code>                and doesn't usually talk about himself in the third person.</p>
            <p>Code Monkey by trade, I like writing daemons and systems software. Preferably in <a href="http://www.golang.org/">Go</a>.
                I've written a bunch of variable-quality stuff, all of which lives on <a href="https://github.com/thechriswalker">Github</a>.</p>
            <p>If you want to get in touch, throw me an <a href="mailto:possible-spam@thechriswalker.net">email</a>.</p>
            <p>Also, I am definitely now a qualified professional <em>wood-hole-was-used-to-create-fire-recognitionist</em>, which is totally a thing and will likely make me a billionaire in the future. So if you have some wood with a hole in it and want to know if that hole was created in the process of attempting to light a fire, then I'm your man.</p>
        </aside>
    </div>
</div>
</body>
</html>
