<div class="container">
    <footer>
        <a href="https://github.com/thechriswalker">github</a>
        <!--<a href="/cv.html">curriculum vitae</a>-->
        <a href="#about">about me</a>
    </footer>
</div>
