<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{if .IsHome }}the:chris:walker://{{ else }}tcw://{{ with .Title }}{{ urlize . }}{{ end }}{{ end }}</title>
    {{ .Hugo.Generator }}
    <link href="{{ .Site.BaseURL }}css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}css/tcw.css" rel="stylesheet" type="text/css">
</head>
<body>
