<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>¯\_(ツ)_/¯</title>
    <link href="{{ .Site.BaseURL }}css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="{{ .Site.BaseURL }}css/tcw.css" rel="stylesheet" type="text/css">
    <style>
/**
 * Base structure
 */

html,
body {
  height: 100%;

}
body {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

h1, p {
  color: #6f6f6f;
  font-family: monospace;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.2);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.2);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover-heading {
  font-size: 4rem;
}

.shruggie {
    letter-spacing: -10px; /* shruggie is wide! */
}

/*
 * The QR code
 */
img.qr {
    background: #fff;
    border-radius: 6px;
    padding: 4px;
    margin-top: 16px;
}

/*
 * Affix and center
 */


@media (min-width: 40em) {
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .cover-heading {
    font-size: 5rem;
  }
}

@media (min-width: 62em) {
  .cover-container {
    width: 42rem;
  }
}

    </style>
<head>
<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="cover">
            <h1 class="cover-heading shruggie">¯\_(ツ)_/¯</h1>
            <p class="lead">Page not found!</p>
            <p><a href="{{ .Site.BaseURL }}">time to go home</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
