{{ partial "header.html" . }}
<div class="flex">
  {{ partial "title.html" . }}
  <div class="container">
    <section>
      <h1>Welcome</h1>
      <p>
        This is the code and tech ideas and thoughts blog of Chris Walker
        (<strong>thechriswalker</strong>, see "about" at the bottom...). It has
        been called various things, and gone through various incarnations in the
        past. But I hope to honour the permalinks from now on.
      </p>

      <p>
        I don't post very often, so don't hold your breath. (Or judge me too
        harshly for stuff written years ago!)
      </p>
      <p></p>

      <p>
        I did keep the link to my copy of Iain M. Banks'
        <a href="/culture.html">A Few Notes on the Culture</a> because it is an
        awesome read (as are all his books) and the internet would be a worse
        place without it.
      </p>

      <h3>Content</h3>

      <ul>
        {{- range first 20 (where .Site.RegularPages "Section" "posts") -}}
        <li>
          <p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <small>{{ .Date.Format "Jan 2, 2006" }}</small>
          </p>
        </li>
        {{- end -}}
      </ul>
      <!-- This isn't ready yet...

      <h3>Reading</h3>

      <ul>
        {{- range first 20 (where .Data.Pages "Section" "books") -}}
        <li>
          <p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <small>{{ .Date.Format "Jan 2, 2006" }}</small>
          </p>
        </li>
        {{- end -}}
      </ul>
-->
    </section>
  </div>
  {{ partial "footer.html" . }}
</div>
{{ partial "fin.html" . }}
